.connectionDay {
    padding-top: 20px;
}

.connectionItem{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 5px;
}

.connectionItem p{
    padding: 0;
    margin: 0;
}

.buttonGroup {
    padding-top: 10px;
    display: flex;
    justify-content: space-evenly;
}

.buttonGroup *{
    width: 150px;
}

.itemGoto {
    margin-left: auto;
}

.itemText {
    padding-left: 15px;
}